{% extends "base.html" %}

{% block title %}Редактор текста{% endblock %}

{% block content %}
    <div class="content">
        <h1>Редактор текста</h1>
        <p>Это страница с редактором текста. Здесь вы можете редактировать и форматировать ваш текст по своему усмотрению.</p>
        <p>Введите текст для редактирования:</p>
        <textarea class="text-input" placeholder="Введите ваш текст здесь..."></textarea>
        <div class="buttons">
            <button class="button">Сохранить изменения</button>
        </div>
    </div>
{% endblock %}