{% extends "base.html" %}

{% block title %}ПРОСТО ТЕКСТ{% endblock %}

{% block content %}
    <!-- Основной контент -->
    <div class="content">
        <p>
            Таким образом, повышение уровня гражданского сознания играет важную роль в формировании новых предложений. Не следует, однако, забывать о том, что сложившаяся структура организации создаёт предпосылки качественно новых шагов для экономической целесообразности принимаемых решений? Не следует, однако, забывать о том, что консультация с профессионалами из IT позволяет оценить значение всесторонне.
        </p>
        <div class="buttons">
            <a href="{{ url_for('editor') }}" class="button">Редактор</a>
            <a href="{{ url_for('simplifier') }}" class="button">Упроститель</a>
        </div>
    </div>
{% endblock %}